*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(202, 213, 202);
}
.nav1{
    height: 60px;
    margin-top: 10px;
    
background-image: -webkit-linear-gradient(rgb(169, 122, 122),rgb(192, 230, 192),rgba(0, 255, 255, 0.412));
}
.ul{
   justify-self: center;
   display: flex;
   list-style-type:none;
   justify-content: space-around;

   
}
.logo>img{
    width:60px;
    height:60px ;
}
.items{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-decoration: none;
    margin-top: 10px;   
    transition: 4s;
    text-transform: capitalize;
}
.items > a{
    text-decoration: none;
}
.head{
    text-transform: uppercase;
}
.desc{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px;
    color: black;
}
.items:hover{
    background-color: aqua;
    transform: rotateX(360deg);
}
#ki{
    display: flex;
    flex-wrap: wrap;
    padding:10px;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px; /* Adjust as needed */

}
.con{
    width: calc(44.44% - 40px); /* Three columns with 20px margin */
    margin-bottom: 20px;
    padding: 10px;
    height: 35rem;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
    .con {
        width: calc(50% - 20px); /* Two columns on smaller screens */
    }
}
.ser1{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-evenly;
}
.s1{
    width: calc(44.44% - 40px);
    margin-bottom: 20px;
    margin-left: 5rem;
    height: 30rem;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}
#wedding{
    image-resolution: 1024px;
    object-fit: cover;
    position: relative;
}
.weds{
    position: relative;
    display: inline-block;
}
#w1{
    height: 29.6rem;
    width: 34rem;
}
#id_wed{
    margin-top: -30px;
}
.text{
    position: absolute;
    top: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 30%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    padding: 10px;
    text-shadow: 5px 5px black;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
#w2{
    height: 29.6rem;
    width: 34rem;
}
#w3{
    height: 29.6rem;
    width: 34rem;
}
#w4{
    height: 29.6rem;
    width: 34rem;
}

.footer{
    width: 100%;
    height: 20rem;
    border: 1px solid rgb(118, 174, 205);
    border-radius: 4rem;
    background-color: rgb(118, 174, 205);
}
.foo{

}
#f1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-overflow: clip;
    text-shadow: 2px 2px white;
    text-align: center;
    margin-bottom:10px;
    margin-top: 4px;
}
.media{
    text-align: right;
    display: flex;
    justify-content: right;
    margin-right: 3rem;
    text-decoration: none;
    color: black;
    margin-top: 2rem;
    letter-spacing: 30px;
    font-size: 3rem;
}
h2{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-right: 8rem;
    text-align: right;
}
.para{
    text-align: center;
    margin-top: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
}